<!DOCTYPE html>
<html>
    <head>
        <meta charset=“utf-8”>
        <title>신이 나를 만들 떄</title>
    </head>
    
    <body>
        <div class="box-radius">
            <div class="box-title">
                <h1>신이 나를 만들 때</h1>
            </div>
            <br>
            <table>
                <tr>
                    <th>일단 <font color="#2891E4" size=5px><%= @urs1 %><strong></font>를 조금 넣고...</th>
                    <th>좋아! <font color="#1EE621" size=5px><%= @urs2 %><strong></font>도 5스푼!</th>
                    <th>마지막으로 <font color="#FE292A" size=5px><%= @urs3 %><strong></font>도 조금 넣으어으어ㅏ어억</th>
                </tr>
                <tr>
                    <td><%= image_tag @god1 %></td>
                    <td><%= image_tag @god2 %></td>
                    <td><%= image_tag @god3 %></td>
                </tr>
            </table>
        </div>
    </body>
</html>